Repository PaloAltoNetworks/pan-os-codegen, pull requests merged in 2025-01, with the labels that each got.

#207 feat(specs): Add missing enum values to panos_external_dynamic_list
  specs/objects/external-dynamic-list.yaml
Labels: component/specs, resources/panos_external_dynamic_list

#210 feat(specs): Initial panos_anti_spyware_security_profile codegen spec
  specs/network/profiles/anti-spyware-profile.yaml
Labels: component/specs, resources/panos_anti_spyware_security_profile

#234 feat(specs): Initial resource_admin_role spec
  specs/device/adminrole.yaml
Labels: component/docs, resources/panos_admin_role

#235 feat(specs): Initial panos_log_forwarding codegen spec
  specs/objects/profiles/log-forwarding.yaml
Labels: component/specs, resources/panos_log_forwarding_profile

#239 feat(specs): Initial panos_wildfire_analysis_profile codegen spec
  specs/objects/profiles/wildfire-analysis.yaml
Labels: component/specs, resources/panos_wildfire_analysis_security_profile

#241 feat(specs): Initial panos_file_blocking_profile codegen spec
  specs/objects/profiles/file-blocking.yaml
Labels: component/specs, resources/panos_file_blocking_profile

#243 feat(specs): Initial panos_url_filtering_security_profile codegen spec
  specs/objects/profiles/url-filtering.yaml
Labels: component/docs, resources/panos_url_filtering_security_profile

#247 feat(specs): Initial panos_vlan_interface codegen spec
  specs/network/interface/vlan.yaml
Labels: component/specs, resources/panos_vlan_interface

#255 feat(specs): Initial panos_ike_crypto_profile codegen spec
  specs/objects/profiles/ike-crypto-profile.yaml
Labels: component/specs, resources/panos_ike_crypto_profile

#257 feat(specs): Initial panos_ipsec_crypto_profile codegen spec
  specs/objects/profiles/ipsec-crypto-profile.yaml
Labels: component/specs, resources/panos_ipsec_crypto_profile

#259 feat(specs): Initial panos_ike_gateway codegen spec
  pkg/translate/assignments.go
  pkg/translate/funcs.go
  specs/objects/ike-gateway.yaml
Labels: component/docs, resources/panos_ike_gateway

#272 feat(tests): Initial panos_tunnel_interface acceptance tests
  assets/terraform/test/resource_tunnel_interface_test.go
Labels: resources/panos_tunnel_interface, component/tests

#249 feat(specs): Initial panos_tunnel_interface codegen spec
  assets/terraform/test/resource_tunnel_interface_test.go
  specs/network/interface/tunnel.yaml
Labels: component/specs, resources/panos_tunnel_interface

#253 feat(specs): Initial panos_loopback_interface codegen spec
  assets/pango/example/main.go
  assets/terraform/test/resource_loopback_interface_test.go
  specs/network/interface/loopback.yaml
Labels: component/specs, resources/panos_loopback_interface

#421 feat(specs): Adds SSL decrypt configuration specs
  specs/device/ssl-decrypt.yaml
Labels: component/specs, resources/panos_ssl_decrypt
